@using ProyectoWebAppTienda.DAL

<div class="header__top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-8 col-sm-6 col-xs-12 ">
                <p>460 West 34th Street, 15th floor, New York  -  Hotline: 804-377-3580 - 804-399-3580</p>
            </div>
            @{ 
                var user = (Tbl_Miembro)HttpContext.Current.Session["User"];
            }
            @if ( user != null)
            {
                @Html.AntiForgeryToken()
                <div class="col-lg-6 col-md-4 col-sm-6 col-xs-12 ">
                    <div class="header__actions">
                        <div class="btn-group ps-dropdown">
                            <a class="dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Hola @user.Nombre!<i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="/Acceso/Manage" title="Manage">Manage</a></li>
                                <li><a href="/Acceso/LogOff">Cerrar sesión</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="col-lg-6 col-md-4 col-sm-6 col-xs-12 ">
                    <div class="header__actions">
                        <a id="registerLink" href="/Acceso/Register">Registrarse</a>
                        <a id="loginLink" href="/Acceso/Login">Iniciar sesión</a>
                    </div>
                </div>
            }

        </div>
    </div>
</div>

